<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a routerLink="" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
  </div>
  <ul class="nav navbar-nav" *ngIf="submissionsStatusIsOpen()">
    <li><a routerLink="/admin/submission">Submission</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/submissions">Submissions</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/schedule-posted-status">Schedule Posted Status</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/submissions-status">Submissions Status</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/schedule">Schedule</a></li>
  </ul>
</nav>
