<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a routerLink="/admin" routerLinkActive="active" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
  </div>
  <ul class="nav navbar-nav" *ngIf="submissionsStatusIsOpen()">
    <li><a routerLink="/admin/submission" routerLinkActive="active">Submission</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/submissions" routerLinkActive="active">Submissions</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/submissions-status" routerLinkActive="active">Submissions Status</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><a routerLink="/admin/schedule" routerLinkActive="active">Schedule</a></li>
  </ul>
</nav>
