.submission-summary {
  border: solid black;
  width: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.time {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.start-time {
  margin: 0;
}

.end-time {
  margin-top: auto;
}

.schedule {
  width: 140px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.time-column {
  diplay: flex;
}

.time-box {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  justify-content: space-around;
}

.purple-room {
   background-color: plum;
 }

.red-room {
  background-color: lightcoral;
}

.green-room {
  background-color: lightgreen;
}
