<div class="container">
  <form>
    <div class="form-group row"
         [ngClass]="{'has-error': fName.invalid && fName.touched, 'has-success': fName.valid && fName.touched}">
      <label class="col-2 col-form-label">First Name</label>
      <div class="col-10">
        <input #fName="ngModel" name="firstName" type="text" class="form-control" [(ngModel)]="submission.FirstName" required>
        <span class="help-block" *ngIf="fName.invalid && fName.touched">First name required</span>
      </div>
    </div>
    <div class="form-group row"
         [ngClass]="{'has-error': lName.invalid && lName.touched, 'has-success': lName.valid && lName.touched}">
      <label class="col-2 col-form-label">Last Name</label>
      <div class="col-10">
        <input #lName="ngModel" name="lastName" type="text" class="form-control" [(ngModel)]="submission.LastName" required>
        <span class="help-block" *ngIf="lName.invalid && lName.touched">Last name required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Company</label>
      <div class="col-10">
        <input type="text" name="company" class="form-control" [(ngModel)]="submission.Company">
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-error': email.invalid && email.touched, 'has-success': email.valid && email.touched}">
      <label class="col-2 col-form-label">Email Address</label>
      <div class="col-10">
        <input #email="ngModel" type="email" name="email" class="form-control" [(ngModel)]="submission.Email" required>
        <span class="help-block" *ngIf="email.invalid && email.touched">Email required</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Personal Bio</label>
      <div class="col-10">
        <textarea type="text" name="bio" class="form-control" [(ngModel)]="submission.Bio"></textarea>
      </div>
    </div>
    <div class="form-group row"
         [ngClass]="{'has-error': subTitle.invalid && subTitle.touched, 'has-success': subTitle.valid && subTitle.touched}">
      <label class="col-xs-2 col-form-label">Submission Title</label>
      <div class="col-xs-10">
        <input #subTitle="ngModel" name="submissionTitle" type="text" class="form-control"
               [(ngModel)]="submission.SubmissionTitle"
               required>
        <span class="help-block" *ngIf="subTitle.invalid && subTitle.touched">Submission title required</span>
      </div>
    </div>
    <div class="form-group row"
         [ngClass]="{'has-error': subAbstract.invalid && subAbstract.touched, 'has-success': subAbstract.valid && subAbstract.touched}">
      <label class="col-m-2 col-form-label">Submission Abstract</label>
      <div class="col-m-10">
        <textarea #subAbstract="ngModel" name="submissionAbstract" rows="5" class="form-control"
                  [(ngModel)]="submission.SubmissionAbstract" required></textarea>
        <span class="help-block"
              *ngIf="subAbstract.invalid && subAbstract.touched">Submission abstract required</span>
      </div>
    </div>
  </form>
  <button (click)="SubmitSubmission()">Submit</button>
  <div *ngIf="requiredFieldsEmpty">Please fill in all required fields</div>
</div>
