<div class="container" *ngIf="submissionsStatusIsOpen()">
  <h1 class="text-center">Submission</h1>
  <form class="submission-form">
    <div class="submission-block">
      <label class="submission-form-label">First Name</label>
      <input #fName="ngModel" name="firstName" type="text" class="form-control"
             [ngClass]="{'submission-error': fName.invalid, 'submission-success': fName.valid}"
             [(ngModel)]="submission.FirstName" required>
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Last Name</label>
      <input #lName="ngModel" name="lastName" class="form-control" type="text"
             [ngClass]="{'submission-error': lName.invalid, 'submission-success': lName.valid}"
             [(ngModel)]="submission.LastName" required>
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Company</label>
      <input name="company" class="form-control" type="text"
             [(ngModel)]="submission.Company">
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Email Address</label>
      <input #email="ngModel" name="email" class="form-control" type="text"
             [ngClass]="{'submission-error': email.invalid, 'submission-success': email.valid}"
             [(ngModel)]="submission.Email" required>
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Personal Bio</label>
      <textarea name="bio" class="form-control" type="text"
                [(ngModel)]="submission.Bio"></textarea>
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Submission Title</label>
      <input #subTitle="ngModel" name="subTitle" class="form-control" type="text"
             [ngClass]="{'submission-error': subTitle.invalid, 'submission-success': subTitle.valid}"
             [(ngModel)]="submission.SubmissionTitle" required>
    </div>
    <div class="submission-block">
      <label class="submission-form-label">Submission Abstract</label>
      <textarea rows="7" #subAbstract="ngModel" name="subAbstract" class="form-control" type="text"
             [ngClass]="{'submission-error': subAbstract.invalid, 'submission-success': subAbstract.valid}"
                [(ngModel)]="submission.SubmissionAbstract" required></textarea>
    </div>
    <button (click)="SubmitSubmission()" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="requiredFieldsEmpty" class="submissions-closed text-center">Please fill in all required fields</div>
</div>
<p class="submissions-closed" *ngIf="submissionsStatusIsClosed()">Submissions are currently closed</p>
